<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <style>
        html {
            -webkit-print-color-adjust: exact;
        }

        h4 {
            margin: 2px 0;
        }

        tbody tr:nth-child(even) {
            background-color: #ededed;
            color: rgb(0, 0, 0);
        }

        span.logo {
            content: url("data:image/png;base64,...")
    </style>
</head>
<%const fecha=new Date() %>

    <%const{ reference, currency, buyer_name, buyer_last_name, client_name, expiration_date, user_name,
        user_middle_name, user_last_name, total, totalInWords }=quote%>

        <body style="padding:25px">
            <p style="color: #909090; font-size: 9px;">
                <%-fecha%> - <%-client_name%>
            </p>
            <div style="display:flex; justify-content: space-between;">
                <div style="height: 100%;width: 150px;">
                    <svg style="font-size: 24px; width: 150px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="540"
                        height="554" viewBox="0 0 540 554" fill="none">
                        <rect x="7.5" y="7.5" width="525" height="538.5" rx="32.5" fill="#F5F5F5" stroke="#ED1C24"
                            stroke-width="15" />
                        <rect x="47.3076" y="47.3076" width="444.692" height="458.885" rx="19" fill="#ED1C24" />
                        <path
                            d="M335.884 164.722V135.053H245.181C201.135 135.053 179.769 171.365 179.769 216.832C179.768 270.39 192.842 305.36 245.181 305.36H335.884V205.179H254.883V235.234H299.676V272.994H250.031C204.762 272.994 205.916 164.722 250.031 164.722H335.884Z"
                            fill="#F5F5F5" />
                        <rect x="108.808" y="338.476" width="335.885" height="118.269" rx="9" fill="url(#pattern0)" />
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_313_6"
                                    transform="matrix(0.00153761 0 0 0.00436681 -0.0350883 0)" />
                            </pattern>
                        </defs>
                    </svg>
                </div>
                <div style="width: 250px;">
                    <h1 style="text-align: right;">
                        Cotización
                    </h1>
                    <p style="text-align: right;">COT-001-2023-LSM</p>

                    <p style="text-align: right">C. RAMÓN RAYON 802, ZARAGOZA, 32000 CD JUÁREZ, CHIH., MÉXICO
                    </p>
                </div>
            </div>
            <div>
                <h4>
                    <b>Nombre del cliente:</b>
                    <%-client_name%>
                </h4>
                <h4>
                    <b>Fecha:</b>
                    <%-fecha%>
                </h4>
                <h4>
                    <b>Válida hasta:</b>
                    <%-expiration_date%>
                </h4>
            </div>
            <div>
                <h4>
                    <b>Dirección:</b>
                    N/A
                </h4>
                <h4>
                    <b>Contacto:</b>
                    <%-buyer_name%>
                        <%-buyer_last_name%>
                </h4>
                <h4>
                    <b>N. Móvil:</b>
                    N/A
                </h4>
            </div>
            <table width="100%">
                <thead style="background-color: #d3d3d3;">
                    <tr>
                        <td>
                            Sr
                        </td>
                        <td>
                            Articulo
                        </td>
                        <td>
                            Descripción
                        </td>
                        <td>
                            Cantidad
                        </td>
                        <td>
                            Precio
                        </td>
                        <td>
                            Total
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0; i < partitions.length; i++ ) { %>
                        <tr>
                            <td>
                                <%-i+1%>
                            </td>
                            <td>
                                <%-partitions[i].partition_name%>
                            </td>
                            <td>
                                <%-partitions[i].description%>
                            </td>
                            <td>
                                <%-Number(partitions[i].quantity).toLocaleString('en')%>
                            </td>
                            <td>
                                <%-Number((1+partitions[i].factor /100 ) * partitions[i].cost).toLocaleString('en')%>
                            </td>
                            <td>
                                <%-Number(((1+partitions[i].factor /100 ) *
                                    partitions[i].cost)*partitions[i].quantity).toLocaleString('en')%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <h3 style="text-align: right;"><b>Total:</b>
                <%-Number(total).toLocaleString('en')%>
            </h3>
            <h3 style="text-align: right;"><b>Total Redondeado: </b>
                <%-Number(total).toLocaleString('en')%>
            </h3>
            <h3 style="text-align: right;"><b>En palabras:</b>
                <%-currency%>
                    <%-totalInWords%>
            </h3>

        </body>

</html>