<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <style>
    

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        html {
            -webkit-print-color-adjust: exact;
            height: fit-content;
        }
        body{
            position: relative;
        }

        h4 {
            margin: 2px 0;
        }

        tbody tr:nth-child(even) {
            background-color: #ededed;
            color: rgb(0, 0, 0);
        }

        thead>tr>td {
            color: white;
            font-size: 11px;
            padding: 5px 15px;
        }

        tbody>tr>td {
            font-size: 11px;
        }

        .companyInfo {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding-bottom: 0f;
        }

        .companyInfo,
        .companyInfo>*,
        .companyInfo>*>* {
            margin: 0;
        }

        .logoContainer {
            position: absolute;
            left: 40px;
            top: 70px;
        }

        .logoContainer>svg {
            width: 200px;
        }

        p {
            margin: 0 !important;
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            background: rgb(240, 240, 240);
            background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(241, 241, 241) 48%, rgba(255, 255, 255, 1) 100%);
            z-index: -1;
        }

        .bg>* {
            width: 100%;
        }

        .infoP {
            display: flex;
            width: 320px;
            padding: 2px;
            font-size: 9px;
            border: 1px solid black;
            margin: 0;
        }

        .infoP>span {
            width: 100px;
            padding: 2px;
            margin: 0;
            text-align: left;
            font-size: 9px;
            margin-right: 5px;
            border-right: 1px solid black;
        }

        .notes>* {
            font-size: 9px !important;
        }
    </style>
</head>
<% const fecha=new Date() %>

    <%const { reference, company_address, currency, buyer_name, buyer_last_name, client_name, expiration_date,
        user_name, user_middle_name, user_last_name, company_color, company_commercial_name,
        company_name, created_at, date_emitted, street,postalCode, city, state,country }=quote %>

        <%let globalTotal = 0%>
        <%let total = 0%>
        <%let totalWithoutShipping = 0%>
        <div class="bg">
        </div>

        <body style="padding:25px">
            <p style="color: #909090; font-size: 9px;">
                <%-fecha%> - <%-client_name%>
            </p>
            <div class="companyInfo">
                <div class="logoContainer" style="width: 75px;margin-top:-15px;">
                    <%-logo||""%>
                </div>
                <div style="text-align: center;">
                    <h1 style=<%-`"font-size:18px;margin:0;text-align:center;color:${company_color}"`%>>
                        <%-company_name||company_commercial_name%>
                    </h1>
                    <p><%-company_address%></p>
                    <p style="text-align:center;margin: 0;">TELS. 656-624-76-56, 624-79-06 &nbsp;&nbsp;&nbsp;01-800-GARLE-MX</p>
                    <h2 style="text-align:center;margin:0">Sucursales</h2>
                    <p style="text-align:center;margin:0">CD JUÁREZ - CHIHUAHUA - HERMOSILLO - LEON - MEXICO DF - EL PASO TX - JUÁREZ GFYA</p>
                </div>
            </div>

            <div style="display:flex; justify-content: space-between;align-items: flex-start;">
                <div>
                    <p class="infoP">
                        <span><b>Nombre del cliente:</b></span>
                        <%-client_name%>
                    </p>
                    <p class="infoP">
                        <span><b>Contacto:</b></span>
                        <%-buyer_name%> <%-buyer_last_name%>
                    </p>
                    <p class="infoP">
                        <span><b>Dirección:</b></span>
                        <%-street?street+",":""%><%-postalCode?postalCode+",":""%><%city?city+",":""%><%state?state+",":""%><%country?country+".":""%>
                    </p>


                </div>
                <div>
                    <p class="infoP" style="margin: 0;text-align: right;"><span><b>Número de cotización:</b></span><%-reference%></p>
                    <% if(date_emitted){%>
                        <p class="infoP">
                            <span><b>Fecha de cotización:</b></span>
                            <%-date_emitted.toISOString().split("T")[0].replaceAll("-"," /")%>
                        </p>

                        <%}%>
                            <p class="infoP" style="margin: 0;text-align: right">
                                <span><b>Fecha:</b></span><%-created_at?.toISOString().split("T")[0].replaceAll("-","/")%></p>

                            <p class="infoP" style="margin: 0;text-align: right;">
                                <span><b>Cotizó:</b></span><%-`${user_name||""} ${user_middle_name||""}${user_last_name||""}`%></p>

                </div>
            </div>
            <table width="100%">
                <thead style=<%-`"background-color: ${company_color||"#000"}"`%>>
                    <tr>
                        <td>
                            #
                        </td>
                        <td style="width:50px">
                            Cantidad
                        </td>
                        <td style="width:70px;">
                            # de Parte
                        </td>
                        <td>
                            Descripción
                        </td>
                        <%if(includeBrand){%>
                            <td>
                                Marca
                            </td>
                            <%}%>
                                
                                <td>
                                    Tiempo de entrega
                                </td>
                                <td>
                                    Unidad
                                </td>
                                <td>
                                    Precio
                                </td>
                                <td>
                                    Envio
                                </td>
                                <td>
                                    Sub-total
                                </td>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0; i < partitions.length; i++ ) { %>
                        <tr>
                            <td>
                                <%-i+1%>
                            </td>
                            <td>
                                <%-Number(partitions[i].quantity).toLocaleString('en')%>
                            </td>
                            <td>
                                <%-partitions[i].part_number%>
                            </td>
                            <td>
                                <%-partitions[i].description%>
                            </td>
                            <%if(includeBrand){%>
                                <td>
                                    <%-partitions[i].brand_name%>
                                </td>
                                <%}%>
                                 
                                    <td>
                                        <%if(partitions[i].edd<16){%>
                                            <%-partitions[i].edd%> días
                                        <%}else{%>
                                            <%-Math.round(partitions[i].edd/7)%> semanas
                                        <%}%>
                                    </td>
                                    <td>
                                        <%-partitions[i].unit%>
                                    </td>
                                    <td>
                                        <%-Number((1+partitions[i].factor /100 ) * partitions[i].cost).toLocaleString('en')%>
                                    </td>
                                    <td>
                                        <%-Number(partitions[i].shippingCost).toLocaleString('en')%>
                                    </td>
                                    <td>
                                        <%-(Number(((1+partitions[i].factor /100 ) *  partitions[i].cost)*partitions[i].quantity)+Number(partitions[i].shippingCost)).toLocaleString('en')%>
                                    </td>
                        </tr>
                        <%total=total+Number(((1+partitions[i].factor /100 ) *  partitions[i].cost)*partitions[i].quantity)+Number(partitions[i].shippingCost)%>
                        <%totalWithoutShipping=totalWithoutShipping+Number(((1+partitions[i].factor /100 ) *  partitions[i].cost)*partitions[i].quantity)%>
                        <%globalTotal=globalTotal+(Number(((1+partitions[i].factor /100 ) * partitions[i].cost)*partitions[i].quantity))*(1+Number(partitions[i].iva_tax?Number(partitions[i].iva_tax)/100:.16))%>
                    
                        <% } %>
                </tbody>
            </table>

            <div style="display:flex;justify-content: flex-end;flex-direction: column; align-items: flex-end;">
                <p class="infoP" style="text-align: right;"><span><b>Sub-total:</b></span>
                    <%-Number(total).toLocaleString('en')%> <%-currency%>
                </p>
                <p class="infoP" style="text-align: right;"><span><b>IVA: </b></span>
                    <%-Number(globalTotal-totalWithoutShipping).toLocaleString('en')%> <%-currency%>
                </p>
                <p class="infoP" style="text-align: right;"><span><b>Total</b></span>
                    <%-Number(globalTotal).toLocaleString('en')%> <%-currency%>
                </p>
            </div>

            <div class="notes">
                <p>Nota: Al generar su orden de compra favor de agregar este número de cotización.</p>
                <p>Esta cotización tiene vigencia de 15 días</p>
                <p class="margin:0">Notas Importantes</p>
                <p>Precios son en <%-currency%>. </p>
                <p>El tiempo de entrega esta sujeto a disponibilidad al momento de recibir su orden de compra y esta
                    expresado en días hábiles. </p>
                <p>La generación de su orden de compra implica la aceptación de los términos y condiciones de esta
                    cotización.</p>
            </div>
            <div style="width:100%">
                <img style="width:100%" src="data:image/png;base64, <%-brandsImage%>" />
            </div>
        </body>

</html>